* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fcf5ee; 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23a9a6a6' fill-opacity='0.36'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); 
  background-size: 40px;
  background-position: 0 0, 20px 20px; 
  color: white;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.welcome-section{
  margin-bottom: 50px;
  padding-top: 60px;
}

.Service-section{
  margin-top: 50px;
}

.background-container {
  background-image: url("assets/Background.png");
  height: 100vh;
  width: 100%;
  max-width: 1800px; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  border-bottom-left-radius: 200px; 
  border-bottom-right-radius: 200px;
  position: absolute;
  overflow: hidden; 
  margin: 0 auto; 
  opacity: 0;
  top: 0;          
  left: 0;        
  z-index: 0;     
  margin-bottom: 50px;
  transition: opacity 1s ease-in-out;
  transform-origin: center center;
}

.background-container.visible {
  opacity: 1;
}

.container {
  width: 100%;
  max-width: 1800px; 
  margin: 0 auto; 
  position: relative; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  transition: background 0.3s ease-in-out;
}

.navbar.scrolled {
  background: #966c46
}

.item-list {
  display: flex;
  gap: 60px;
  list-style-type: none;
}

.item {
  display: inline-block;
  position: relative;
  color: white; 
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  left: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease; 
  background-clip: text; 
  -webkit-background-clip: text; 
}

.item:hover {
  color: transparent; 
  background: linear-gradient(45deg, #ddd3c2, #966c46); 
  -webkit-background-clip: text; 
  background-clip: text; 
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; 
}

nav {
  text-align: center;
  margin-left: -260px;
}

.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

.socialContainer {
  width: 52px;
  height: 52px;
  background: linear-gradient(45deg, #ddd3c2, #966c46); 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

.containerOne:hover {
  background: linear-gradient(45deg, #966c46, #ddd3c2);
  transition-duration: .3s;
}

.containerFour:hover {
  background: linear-gradient(45deg, #966c46, #ddd3c2);
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: #966c46;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.logo {
  margin-top: 20px;
}

.logo img {
  margin-left: 20px;
  margin-top: -10px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(220, 211, 194, 0.6);
}

.line {
  margin-top: -30px;
  margin-left: 420px;
  height: 2px;
  width: 70%;
  background-color: #ffffff;
}

.main-section {
  display: flex;
  margin-top: 230px;
  position: relative;
  height: 60vh;
  gap: 30px;
}

.left-section {
  margin-top: 30px;
  margin-left: 30px;
}

.left-section h1 {
  font-size: 70px;
}

.left-section button {
  margin-top: 50px;
  padding: 16px 40px;
  background: transparent;
  color: #ffffff;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.left-section button:hover {
  background: linear-gradient(45deg, #ddd3c2, #966c46); 
  color: #ffffff; 
  border: 2px solid #ffffff; 
  transform: scale(1.1); 
  box-shadow: 0 8px 12px rgba(220, 211, 194, 0.6);
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0d2bd;
  border-radius: 25px;
  height: 40px;
  width: 80px;
  box-shadow: 0 4px 10px rgba(220, 211, 194, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img img {
  height: 80px;
  transition: transform 0.3s ease;
}

.card-img:hover {
  transform: translateY(-10px) scale(1.1); 
  box-shadow: 0 8px 16px rgba(220, 211, 194, 0.6);
}

.card-img:hover img {
  transform: scale(1.2); 
}

.card1 {
  position: absolute;
  width: 230px;
  padding: 20px;
  background-color: #966c46;
  right: 170px;
  top: 100px;
}

.card1 p {
  margin-top: 20px;
}

.card2 {
  position: absolute;
  width: 180px;
  padding: 20px;
  background-color: #966c46;
  bottom: -40px;
  right: 500px;
}

.card2 p {
  margin-top: 20px;
}

.card1 .line-one {
  position: absolute;
  height: 70px;
  width: 1px;
  background-color: #ffffff;
  top: 152px;
  right: 130px;
}

.card1 .circle-one {
  height: 5px;
  width: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 210px;
  right: 123px;
}

.card2 .line-two {
  position: absolute;
  height: 1px;
  width: 80px;
  background-color: #ffffff;
  bottom: 70px;
  right: -80px;
}

.card2 .circle-two {
  position: absolute;
  height: 5px;
  width: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  bottom: 63px;
  right: -95px;
}

.animated {
  opacity: 0;
  transform: translateY(100px);
  transition: all 2s ease-in-out;
}

.animated.show {
  opacity: 1;
  transform: translateY(0);
}

.services {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px; 
  padding: 20px;
  margin-top: 130px;
  margin-bottom: 90px;
}

.service-card {
  background: linear-gradient(45deg, #ddd3c2, #966c46); 
  border: 2px solid #966c46;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(220, 211, 194, 0.6);
  padding: 40px;
  position: relative;
  text-align: center;
  width: calc(50% - 30px); 
  max-width: 400px; 
  margin: 20px;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, opacity 0.3s ease;
}

@keyframes expandCard {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%); 
    opacity: 0.7;
  }
  100% {
    transform: translate(-50%, -50%); 
    opacity: 1;
  }
}

@keyframes collapseCard {
  0% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 1;
  }
  50% {
    transform: translate(0, 0) scale(1);
    opacity: 0.7;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.service-card.expanded {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  width: 80%; 
  height: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  animation: expandCard 0.8s ease-in-out forwards;
  opacity: 1;
}

.service-card.collapsing {
  animation: collapseCard 0.8s ease-in-out forwards;
  opacity: 1;
}

.service-card.expanded p {
  font-size: 16px;
  margin-bottom: 40px; 
}

.service-card.expanded h3 {
  font-size: 24px;
}

.service-card:hover {
  background: linear-gradient(45deg, #966c46, #ddd3c2);
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(220, 211, 194, 0.6);
}

.service-card:nth-child(1)::before,
.service-card:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #966c46; 
}

.service-card:nth-child(3):before,
.service-card:nth-child(4):before  {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #966c46;
}

.service-card:nth-child(1):after,
.service-card:nth-child(3):after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  height: 100%;
  width: 2px;
  background-color: #966c46;
}

.service-card:nth-child(2):before,
.service-card:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  height: 100%;
  width: 2px;
  background-color: #966c46;
}

.service-card.expanded ~ .service-card::before,
.service-card.expanded ~ .service-card::after,
.service-card.expanded::before,
.service-card.expanded::after {
  display: none;
}

.service-card .icon i {
  font-size: 48px; 
  margin-bottom: 20px;
}

.Logo_Services {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  top: 53%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 10; 
}

.Logo_Services img {
  width: 50px; 
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.Logo_Services img:hover {
  transform: scale(1.2);
}

.service-card h3 {
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
  font-weight: 700;
}

.service-card p {
  font-size: 14px;
  color: whitesmoke;
  margin-bottom: 20px;
  line-height: 1.6;
}

.service-card a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease;
}

.service-card a:hover {
  color: #a06b51;
}

.read-more {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.read-more:hover {
  color: #a06b51;
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}

.read-more:focus {
  color: #a06b51;
  outline: none;
  transform: scale(1.1);
}

.service-card .read-more {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.service-card .read-more::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #a06b51;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.service-card .read-more:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.stylish-living {
  padding: 60px 20px;
  color: #333; 
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.text-container {
  flex: 1;
  padding-right: 20px;
}

.text-container h1 {
  font-size: 2.5rem;
  color: #966c46; 
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
}

.text-container p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.8;
  margin: 20px 0;
}

.image-container {
  flex: 1;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 100%;
  max-width: 1000px; 
  height: 660px;
  object-fit: cover; 
  border-bottom-left-radius: 200px; 
  border-top-right-radius: 300px;
  transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.05);
}

.highlight {
  color: #966c46;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #e0d2bd; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #966c46; 
  border-radius: 10px; 
  border: 2px solid #ececec; 
}

::-webkit-scrollbar-thumb:hover {
  background: #6b4e31; 
}

::-webkit-scrollbar-horizontal {
  height: 12px; 
}

::-webkit-scrollbar-vertical {
  width: 12px;
}

.about-us {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  flex: 1 1 50%;
  color: #4d4d4d;
}

.text-content h1 {
  font-size: 2.5rem;
  color: #966c46; 
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
}

.text-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.text-content .highlight {
  color: #966c46;
  font-weight: bold;
}

.image-content {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(220, 211, 194, 0.6);
  border-bottom-right-radius: 300px; 
  border-top-left-radius: 200px;
  transition: transform 0.3s ease-in-out;
}

.image-content img:hover {
  transform: scale(1.05);
}

.projects-section {
  margin-top: 50px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.text-content {
  position: relative;
}

.text-content h2 {
  font-size: 2.5rem;
  color: #966c46;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  border-radius: 20%;
  z-index: -1;
  top: 0;
  left: 0;
}

.text-content p {
  font-size: 1rem;
  color: #666;
  text-align: left;
  margin-top: 60px; 
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
}

.slider-container {
  margin-top: 50px; 
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 300px; 
  margin-bottom: 170px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide img {
  width: auto;
  height: 100%;
  border-radius: 10px;
  max-width: 100%;
}

.text-left {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #966c46; 
  z-index: 2;
  max-width: 300px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-left h3 {
  margin: 0;
  font-weight: bold;
}

.text-left img {
  width: 100%; 
  height: auto;
  display: block;
  margin-top: -35px; 
  z-index: 2;
}

.text-right {
  position: absolute;
  top: 80%;
  right: 5%;
  transform: translateY(-50%);
  text-align: right;
  font-family: 'Open Sans', sans-serif; 
  font-size: 1rem;
  color: #666;
  z-index: 2;
  max-width: 300px;
  line-height: 1.5;
}

.text-right p {
  margin: 0;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  background: none;
  transform: translateY(-50%);
  color: #966c46;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
  font-size: 22px;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

button.prev:hover,
button.next:hover {
  transform: translateY(-50%) scale(1.6);
}

button.prev {
  left: 20px;
}

button.next {
  right: 20px;
}

@keyframes moveBlush {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 20px);
  }
}

.blush {
  position: absolute; 
  top: -30%;
  left: 0%;
  width: 700px; 
  height: 700px;
  background: radial-gradient(circle, rgba(150, 108, 70, 0.8) 0%, rgba(150, 108, 70, 0.5) 50%, rgba(150, 108, 70, 0.2) 100%);
  z-index: -1; 
  filter: blur(300px); 
  pointer-events: none; 
  animation: moveBlush 2s ease-in-out infinite;
}

.blush-rigth {
  position: absolute; 
  top: -50%;
  left: -20%;
  width: 700px; 
  height: 700px;
  background: radial-gradient(circle, rgba(150, 108, 70, 0.8) 0%, rgba(150, 108, 70, 0.5) 50%, rgba(150, 108, 70, 0.2) 100%);
  z-index: -1; 
  filter: blur(300px); 
  pointer-events: none; 
  animation: moveBlush 5s ease-in-out infinite;
}

.blush-bottom {
  position: absolute; 
  top: 50%;
  left: 0%;
  width: 700px; 
  height: 700px;
  background: radial-gradient(circle, rgba(150, 108, 70, 0.8) 0%, rgba(150, 108, 70, 0.5) 50%, rgba(150, 108, 70, 0.2) 100%);
  z-index: -1; 
  filter: blur(300px); 
  pointer-events: none; 
  animation: moveBlush 5s ease-in-out infinite;
}

.blush-more-bottom {
  position: absolute; 
  margin-top: 1100px;
  margin-left: 400px;
  width: 1000px; 
  height: 1000px;
  background: radial-gradient(circle, rgba(150, 108, 70, 0.8) 0%, rgba(150, 108, 70, 0.5) 50%, rgba(150, 108, 70, 0.2) 100%);
  z-index: -1; 
  filter: blur(200px); 
  pointer-events: none; 
  animation: moveBlush 5s ease-in-out infinite;
}

.parallax-360 {
  width: 100%;
  height: 500px;
  background: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #333;
}

.project-title {
  font-size: 2rem; 
  color: #fff;
  font-weight: bold;
  transition: transform 0.3s ease; 
  position: absolute; 
  top: 0%; 
  text-align: center;
  z-index: 10; 
  width: 100%; 
}

a-scene {
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px; 
  margin-top: 30px;
  margin-bottom: 300px;
}

.project-item {
  background-color: #ddd3c2; 
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-item:hover img {
  transform: scale(1.05); 
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}

#founders-section .content-wrapper:nth-child(odd) .image-container {
  order: 1;  
}

#founders-section .content-wrapper:nth-child(odd) .text-container {
  order: 2;  
}

#founders-section .content-wrapper:nth-child(even) .text-container {
  order: 1;  
}

#founders-section .content-wrapper:nth-child(even) .image-container {
  order: 2; 
}

.matheus{
  margin-bottom: 40px;
}

.matheus img{
  margin-left: -100px;
}

.maria-eduarda{
  margin-bottom: 40px;
}

.maria-eduarda img{
  margin-left: -100px;
}

.text-content-founders h2 {
  font-size: 2.5rem;
  color: #966c46;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  border-radius: 20%;
  margin-top: -100px;
  left: 150px;
}

.text-content-founders p {
  position: absolute;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  margin-top: -50px;
  left: 180px;
  color: #4d4d4d;
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translateX(-20px);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s ease-in-out;
}

.word.visible {
  opacity: 1;
  transform: translateX(0);
}

.p-word p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #4d4d4d;
}

.matheus .word:nth-child(1) { transition-delay: 0s; }
.matheus .word:nth-child(2) { transition-delay: 0.2s; }
.matheus .word:nth-child(3) { transition-delay: 0.4s; }
.matheus .word:nth-child(4) { transition-delay: 0.6s; }
.matheus .word:nth-child(5) { transition-delay: 0.8s; }
.matheus .word:nth-child(6) { transition-delay: 1s; }
.matheus .word:nth-child(7) { transition-delay: 1.2s; }
.matheus .word:nth-child(8) { transition-delay: 1.4s; }
.matheus .word:nth-child(9) { transition-delay: 1.6s; }
.matheus .word:nth-child(10) { transition-delay: 1.8s; }
.matheus .word:nth-child(11) { transition-delay: 2s; }
.matheus .word:nth-child(12) { transition-delay: 2.2s; }
.matheus .word:nth-child(13) { transition-delay: 2.4s; }
.matheus .word:nth-child(14) { transition-delay: 2.6s; }
.matheus .word:nth-child(15) { transition-delay: 2.8s; }
.matheus .word:nth-child(16) { transition-delay: 3s; }
.matheus .word:nth-child(17) { transition-delay: 3.2s; }
.matheus .word:nth-child(18) { transition-delay: 3.4s; }
.matheus .word:nth-child(19) { transition-delay: 3.6s; }
.matheus .word:nth-child(20) { transition-delay: 3.8s; }
.matheus .word:nth-child(21) { transition-delay: 4s; }

.maria-eduarda .word:nth-child(1) { transition-delay: 0s; }
.maria-eduarda .word:nth-child(2) { transition-delay: 0.2s; }
.maria-eduarda .word:nth-child(3) { transition-delay: 0.4s; }
.maria-eduarda .word:nth-child(4) { transition-delay: 0.6s; }
.maria-eduarda .word:nth-child(5) { transition-delay: 0.8s; }
.maria-eduarda .word:nth-child(6) { transition-delay: 1s; }
.maria-eduarda .word:nth-child(7) { transition-delay: 1.2s; }
.maria-eduarda .word:nth-child(8) { transition-delay: 1.4s; }
.maria-eduarda .word:nth-child(9) { transition-delay: 1.6s; }
.maria-eduarda .word:nth-child(10) { transition-delay: 1.8s; }
.maria-eduarda .word:nth-child(11) { transition-delay: 2s; }
.maria-eduarda .word:nth-child(12) { transition-delay: 2.2s; }
.maria-eduarda .word:nth-child(13) { transition-delay: 2.4s; }
.maria-eduarda .word:nth-child(14) { transition-delay: 2.6s; }
.maria-eduarda .word:nth-child(15) { transition-delay: 2.8s; }
.maria-eduarda .word:nth-child(16) { transition-delay: 3s; }
.maria-eduarda .word:nth-child(17) { transition-delay: 3.2s; }
.maria-eduarda .word:nth-child(18) { transition-delay: 3.4s; }
.maria-eduarda .word:nth-child(19) { transition-delay: 3.6s; }
.maria-eduarda .word:nth-child(20) { transition-delay: 3.8s; }
.maria-eduarda .word:nth-child(21) { transition-delay: 4s; }
.maria-eduarda .word:nth-child(22) { transition-delay: 4.2s; }
.maria-eduarda .word:nth-child(23) { transition-delay: 4.4s; }
.maria-eduarda .word:nth-child(24) { transition-delay: 4.6s; }
.maria-eduarda .word:nth-child(25) { transition-delay: 4.8s; }
.maria-eduarda .word:nth-child(26) { transition-delay: 5s; }
.maria-eduarda .word:nth-child(27) { transition-delay: 5.2s; }
.maria-eduarda .word:nth-child(28) { transition-delay: 5.4s; }
.maria-eduarda .word:nth-child(29) { transition-delay: 5.6s; }
.maria-eduarda .word:nth-child(30) { transition-delay: 5.8s; }
.maria-eduarda .word:nth-child(31) { transition-delay: 6s; }
.maria-eduarda .word:nth-child(32) { transition-delay: 6.2s; }

body.loaded .word {
  opacity: 1;
  transform: translateX(0);
}

.maria-eduarda .image-container img {
  border-bottom-left-radius: 200px; 
  border-bottom-right-radius: 200px; 
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}

.matheus .image-container img {
  border-bottom-left-radius: 200px; 
  border-bottom-right-radius: 200px; 
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}

.content-highlight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd3c2; 
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 40px auto;
  max-width: 1200px;
  border-radius: 0 100px 100px 0; 
}

.content-highlight .text-container {
  flex: 1;
  padding: 40px;
  text-align: left;
}

.content-highlight .text-container p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #333;
}

.content-highlight .text-container .highlight {
  color: #966c46; 
  font-weight: bold;
}

.content-highlight .text-container h3 {
  font-size: 2.6rem;
  color: #966c46; 
  margin-top: 80px;
  margin-bottom: 80px;
}

.content-highlight .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content-highlight .text-container .features {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  gap: 15px;
}

.content-highlight .text-container .feature {
  text-align: center;
  flex: 1;
}

.content-highlight .text-container .feature i {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.content-highlight .text-container .feature i:hover {
  transform: scale(1.2);
}

.content-highlight .image-container img {
  width: 100%;
  height: auto;
  max-width: 600px; 
  object-fit: cover;
  border-radius: 0 100px 100px 0; 
  transition: transform 0.3s ease-in-out;
}

.content-highlight .image-container img:hover {
  transform: scale(1.05); 
}

.Logo_Together {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  top: 47.5%;
  left: 30%; 
  transform: translate(-50%, -50%); 
  z-index: 10; 
  border-radius: 50%;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 30px;
  height: 4px;
  background-color: #966c46;
  border-radius: 5px;
}

@media (max-width: 768px) {
  /* Base styles */
body {
  background-size: 20px; /* Adjust background size */
}

.welcome-section {
  margin-bottom: 30px;
  padding-top: 40px;
}

.background-container {
  border-radius: 0 0 100px 100px; /* Combined border radius */
}

.navbar {
  flex-direction: column; /* Stack navbar items */
  padding: 10px;
}

.item-list {
  display: none; /* Hide item list by default */
  width: 100%;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 20px 0;
  position: absolute;
  top: 60px;
  left: 0;
}

.menu-toggle {
  display: flex; /* Show the menu toggle button */
}

.navbar.open .item-list {
  display: flex; /* Show item list when open */
}

.navbar.open .menu-toggle .bar {
  &:nth-child(1) { transform: rotate(45deg); margin-bottom: 5px; }
  &:nth-child(2) { opacity: 0; }
  &:nth-child(3) { transform: rotate(-45deg); margin-top: 5px; }
}

.main-section {
  flex-direction: column; /* Stack main section items */
  height: auto; /* Adjust height */
  margin-top: 100px;
  gap: 20px;
  text-align: center; /* Center align text */
}

.left-section h1 {
  font-size: 40px; /* Reduce font size */
}

.left-section button {
  padding: 12px 30px;
  font-size: 16px; /* Adjust button size */
}

.card1, .card2 {
  width: 100%; /* Full width for cards */
  padding: 15px;
  position: static; /* Stack cards */
  margin: 10px 0;
}

.services {
  flex-direction: column; /* Stack services vertically */
  gap: 20px; /* Add space between services */
}

.cards-container {
  flex-direction: column; /* Stack cards */
  gap: 20px;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 60px;
}

.service-card {
  width: 100%; /* Full width for service cards */
  max-width: 100%;
  padding: 20px;
  margin: 10px auto; /* Center align */
}

.service-card h3 {
  font-size: 18px; /* Reduce heading size */
}

.service-card p {
  font-size: 12px; /* Reduce paragraph size */
}

.service-card .icon i {
  font-size: 36px; /* Adjust icon size */
  margin-bottom: 10px;
}

.stylish-living {
  padding: 30px 10px; /* Adjust padding */
}

.content-wrapper {
  flex-direction: column; /* Stack content */
  align-items: flex-start; 
}

.text-container {
  padding-right: 0; /* Remove right padding */
}

.text-container h1 {
  font-size: 1.8rem; /* Reduce heading size */
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1rem; /* Reduce paragraph size */
  margin: 15px 0;
}

.image-container img {
  height: auto; /* Adjust image height */
  max-width: 100%; /* Ensure images fit */
  border-radius: 100px 100px 200px 200px; /* Combined border radius */
}

.about-us {
  padding: 50px 10px; /* Adjust padding */
}

.about-container {
  flex-direction: column; /* Stack about section */
  gap: 20px; /* Adjust spacing */
}

.text-content h1 {
  font-size: 2.2rem; /* Reduce heading size */
}

.text-content p {
  font-size: 16px; /* Reduce paragraph size */
}

.projects-grid {
  grid-template-columns: 1fr; /* Single column layout */
}

.project-card {
  width: 100%; /* Full width for project cards */
  margin: 10px; /* Adjust margin */
}

.project-card img {
  height: auto; /* Adjust image height */
  max-width: 100%; /* Ensure images fit */
}

.project-card h3 {
  font-size: 18px; /* Reduce heading size */
}

.project-card p {
  font-size: 12px; /* Reduce paragraph size */
}

.footer {
  flex-direction: column; /* Stack footer items */
  gap: 20px; /* Adjust spacing */
}

.footer h3 
{
  font-size: 18px; /* Reduce heading size */
}

.footer p {
  font-size: 12px; /* Reduce paragraph size */
}

.social-links {
  flex-direction: column; /* Stack social links */
  gap: 10px; /* Adjust spacing */
}

.social-links a {
  font-size: 16px; /* Reduce font size */
}

.item-list {
  display: none; /* Hide the menu by default */
}

.item-list.active {
  display: block; /* Show the menu when active */
}

/* Optional: Style for the menu toggle button */
.menu-toggle {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333; /* Change color as needed */
  transition: all 0.3s ease; /* Smooth transition */
}
}


@media (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede o scroll horizontal */
  }
  
  .background-container {
    width: 100%;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
  }

  .container {
    padding: 0 30px;
  }

  .item-list {
    margin-left: 200px;
    gap: 40px;
  }

  .item {
    font-size: 15px;
  }

  .navbar {
    width: 100%;
    box-sizing: border-box;
    margin-left: -140px;
  }

  .contact {
    gap: 15px;
  }

  .card {
    gap: 15px;
    padding: 20px;
  }

  .card {
    padding: 25px 25px;
  }

  .contact.card{
    position: relative;
    left: -30px;
  }

  .socialSvg {
    width: 14px;
  }

  .logo img {
    margin-left: 150px;
    width: 70px;
  }

  .line {
    margin-left: 100px;
    width: 80%;
  }

  .main-section {
    flex-direction: column;
    height: auto;
    margin-top: 150px;
    gap: 30px;
  }

  .left-section h1 {
    font-size: 50px;
  }

  .left-section button {
    padding: 14px 35px;
    font-size: 18px;
  }

  .card-img {
    height: 70px;
    width: 70px;
  }

  .card-img img {
    height: 60px;
  }

  .card1, .card2 {
    width: 200px;
    padding: 20px;
    position: relative;
  }

  .card1{
    left: 660px;
    top: -105px;
  }

  .card1 .line-one {
    top: 220px;
    height: 50px;
    width: 1px;
  }

  .card1 .circle-one{
    top: 260px;
  }

  .card2{
    left: 200px;
    top: -100px;
  }

  .card2 .line-two {
    width: 60px;
    left: 220px;
  }
  
  .card2 .circle-two{
    left: 270px;
  }

  .services {
    gap: 25px;
    padding: 15px;
  }

  .cards-container {
    gap: 25px;
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .service-card {
    width: calc(100% - 40px); 
    max-width: 300px;
    padding: 30px;
    margin: 15px auto;
  }

  .service-card h3 {
    font-size: 20px;
  }

  .service-card p {
    font-size: 14px;
  }

  .service-card .icon i {
    font-size: 42px;
    margin-bottom: 15px;
  }

  .Logo_Services {
    width: 35px;
    top: 50%;
    left: 50%;
  }

  .Logo_Services img {
    width: 40px;
  }

  .stylish-living {
    padding: 40px 15px;
  }

  .content-wrapper {
    max-width: 1000px;
  }

  .text-container {
    padding-right: 10px;
  }

  .text-container h1 {
    font-size: 2.2rem;
    margin-bottom: 25px;
  }

  .text-container p {
    font-size: 1.1rem;
    margin: 18px 0;
  }

  .image-container {
    padding-left: 10px;
  }

  .image-container img {
    height: 500px; /* Reduzir altura para telas intermediárias */
    border-bottom-left-radius: 150px;
    border-top-right-radius: 200px;
  }

  .about-us {
    padding: 70px 15px;
  }

  .about-container {
    gap: 30px; /* Ajustar espaçamento */
  }

  .text-content h1 {
    font-size: 2.2rem; /* Fonte menor para telas intermediárias */
    margin-bottom: 25px;
  }

  .text-content p {
    font-size: 17px;
  }

  .image-content img {
    border-bottom-right-radius: 200px;
    border-top-left-radius: 150px;
  }

  .slider-container {
    height: 220px; /* Diminuir altura do slider */
  }

  .slide img {
    object-fit: contain; /* Evitar cortes excessivos */
    max-height: 200px;
  }

  /* Reduzindo dimensões da Foto 360 */
  .parallax-360 {
    height: 300px; /* Diminuir altura */
  }

  .project-title {
    font-size: 1.5rem; /* Reduzir tamanho do título */
  }

  a-scene {
    width: 100%;
    height: 100%; /* Ajustar altura */
  }

  /* Ajustando o grid de 4 fotos */
  .projects-grid {
    grid-template-columns: 1fr; /* Transformar em layout de 1 coluna */
    gap: 15px; /* Reduzir espaçamento */
  }

  .project-item {
    height: auto; /* Ajustar altura automática */
    width: 100%; /* Ocupa toda a largura */
  }

  .project-item img {
    max-height: 200px; /* Limitar altura da imagem */
    object-fit: cover; /* Manter proporção da imagem */
  }

  .project-info h3 {
    font-size: 1.2rem; /* Reduzir tamanho do texto */
  }

  .project-info p {
    font-size: 0.9rem;
    line-height: 1.4; /* Reduzir espaçamento de linha */
  }

  /* Botões do slider */
  button.prev,
  button.next {
    padding: 10px;
    font-size: 18px; /* Reduzir tamanho dos botões */
  }

  .blush,
  .blush-right,
  .blush-bottom,
  .blush-more-bottom {
    width: 10px;
    height: 10px;
  }

 .text-content-founders h2 {
  font-size: 1.8rem; /* Menor em telas médias */
  margin-top: -50px;
  left: 10%;
}

.text-content-founders p {
  font-size: 0.9rem;
  top: 40px;
  left: 10%;
  line-height: 1.4;
}

.content-highlight {
  margin: 20px auto;
  flex-direction: column;
}

.content-highlight .text-container {
  padding: 20px; /* Reduzir padding */
}

.content-highlight .text-container h3 {
  font-size: 2rem;
}

.content-highlight .image-container img {
  border-radius: 10px; /* Menor arredondamento */
  }
}